<div class="contenitore">
  <div class="intestazione">
    <h2>Categorie</h2>
    <button class="btn-crea" (click)="vaiAggiungiCategoria()">
      + Crea nuova categoria
    </button>
  </div>

  <div *ngIf="loading" class="loading">⏳ Caricamento in corso...</div>
  <div *ngIf="errore" class="errore">{{ errore }}</div>

  <div class="tabella-wrapper" *ngIf="!loading && categorie.length > 0">
    <app-tabella-generica
      [colonne]="colonne"
      [dati]="categorieConMetadati"
      (esportaCSV)="(null)"
    ></app-tabella-generica>
  </div>

  <app-conferma-dialog
    *ngIf="mostraModale"
    [messaggio]="
      'Sei sicuro di voler eliminare definitivamente questa categoria?'
    "
    (confermato)="eliminaCategoriaSeConfermato()"
    (annullato)="annullaEliminazione()"
  ></app-conferma-dialog>

  <div *ngIf="!loading && categorie.length === 0" class="empty">
    Nessuna categoria trovata.
  </div>
</div>
